:root {
  --colour1: #2b3a42;
  --colour2: #3f5765;
  --colour3: #bdd4de;
  --colour4: #efefef;
  --colour5: #ff5035;

  --buttonFont: Helvetica;
  --inputFont: Helvetica;
}

html,
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#app {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
}
